#myBtn.demo {
    padding: 5px;
    background: #fff;
    cursor: pointer;
    line-height: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}
#myBtn.demo .icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url('btn_icons_sprite.png') transparent 0 -40px no-repeat;
}
#myBtn.demo:hover {
    background-color: #cc3732;
    color: #fff;
    border: #dd4b39;
}
#myBtn.demo:hover .icon {
    background: url('btn_icons_sprite.png') transparent 0 0px no-repeat;
}   